.card_body {
  display: none;
}

.adviser_table {
  width: 100%;
  border-collapse: collapse;

  &:last-child {
    margin-bottom: 0;
  }

  tbody {
    height: 0px;
    display: block;
    overflow: auto;
  }

  thead,
  tbody tr {
    width: 100%;
    display: table;
  }

  tr {
    transition: ease all 0.25s;

    &:hover {
      cursor: pointer;
      background: rgba($green, 0.1);
    }
  }

  th,
  td {
    padding: 10px;
    text-align: center;
    border-right: 1px solid $defaultBorderColor;
    border-bottom: 1px solid $defaultBorderColor;

    &:last-child {
      border-right: none;
    }

    &.mw-300 {
      min-width: 300px;
    }
  }

  th {
    color: $white;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
    justify-content: space-between;
    background: rgba($blue, 0.8);
    text-shadow: 1px 1px 1px rgba($black, 0.5);

    i {
      transition: ease all 0.25s;
    }
  }

  td {
    font-size: 1rem;
  }
}
