* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: $principalBackground;

  main {
    padding: 140px 40px 40px 40px;
    min-height: calc(100vh - 80px);

    .principal_container {
      gap: 40px;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      max-width: 1500px;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;

      .calendar_container {
        width: 60%;
        padding: 10px;
        max-width: 900px;
        position: relative;
        border-radius: 14px;
        box-shadow: 1px 1px 10px rgba($black, 0.3);

        &::before {
          content: "";
          top: 0;
          left: 0;
          width: 100%;
          z-index: -1;
          height: 100%;
          opacity: 0.8;
          background: $white;
          position: absolute;
          border-radius: 14px;
        }

        th {
          color: $white;
          background: $green;
          text-shadow: 1px 1px 1px rgba($black, 0.5);
        }

        .fc-toolbar-title {
          font-size: 1rem;
        }

        .fc-button {
          font-size: 0.8rem;
          background: $cyanBlue;
          border: 1px solid $cyanBlue;

          &:disabled {
            opacity: 0.5;
          }
        }

        .fc-button-active {
          background: $blue !important;
        }
      }

      .data_container {
        width: 40%;
        max-width: 400px;
        padding: 20px;
        display: flex;
        position: relative;
        border-radius: 14px;
        align-items: center;
        flex-direction: column;
        box-shadow: 1px 1px 10px rgba($black, 0.3);

        &::before {
          content: "";
          top: 0;
          left: 0;
          width: 100%;
          z-index: -1;
          height: 100%;
          opacity: 0.8;
          background: $white;
          position: absolute;
          border-radius: 14px;
        }

        .data_container_head {
          width: 100%;
          display: flex;
          margin-bottom: 20px;
          align-items: center;
          justify-content: space-between;

          h4 {
            font-size: 1.4rem;
          }

          button {
            color: $white;
            cursor: pointer;
            padding: 6px 10px;
            font-size: 1.4rem;
            border-radius: 7px;
            border: 1px solid transparent;
            background: rgba($red, 0.5);
            transition: ease all 0.25s;

            &:hover {
              background: rgba($red, 1);
            }
          }
        }

        .adviser_img_container {
          width: 150px;
          height: 150px;
          overflow: hidden;
          text-align: center;
          margin-bottom: 20px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .adviser_name {
          width: 100%;
          font-size: 1.2rem;
          text-align: center;
          margin-bottom: 10px;
        }

        .adviser_language {
          width: 100%;
          text-align: center;
          font-size: 1rem;
          margin-bottom: 20px;
          padding-bottom: 20px;
          border-bottom: 1px solid $defaultBorderColor;
        }

        .data_selected_container {
          .day_selected {
            font-size: 0.8rem;
            text-align: center;
            margin-bottom: 10px;
          }

          .dp__main {
            margin-bottom: 10px;
          }

          .max_selected {
            font-size: 0.8rem;
            text-align: center;
            margin-bottom: 20px;
          }

          label {
            width: 100%;
            display: inline-block;
            font-size: 0.9rem;
            text-align: left;
            margin-bottom: 10px;
          }

          input[type="text"] {
            width: 100%;
            padding: 10px;
            font-size: 0.9rem;
            border-radius: 4px;
            margin-bottom: 20px;
            border: 1px solid $defaultBorderColor;
          }

          .btn {
            width: 100%;
            border: none;
            padding: 10px;
            color: $white;
            cursor: pointer;
            font-size: 0.9rem;
            border-radius: 4px;
            margin-bottom: 20px;
            transition: ease all 0.25s;
            background: rgba($buttonGreenColor, 0.6);

            &:hover {
              background: rgba($buttonGreenColor, 1);
            }
          }
        }
      }
    }
  }
}

.table_container {
  width: 100%;
  overflow: auto;
  margin-bottom: 30px;
}

.cards_container {
  columns: 3;
  width: 100%;
  column-gap: 30px;
}

.card {
  width: 450px;
  padding: 40px 20px;
  margin-bottom: 30px;
  position: relative;
  border-radius: 7px;
  break-inside: avoid-column;
  box-shadow: 1px 1px 10px rgba($black, 0.3);

  &::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
    opacity: 0.8;
    background: $white;
    position: absolute;
    border-radius: 7px;
  }

  &.w-100 {
    width: 100%;
  }

  .card_head {
    width: 100%;
    display: flex;
    cursor: pointer;
    margin-bottom: 20px;
    padding-bottom: 20px;
    align-items: center;
    border-bottom: 1px solid $defaultBorderColor;

    h2 {
      width: 100%;
      display: flex;
      font-size: 1.6rem;
      text-align: center;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      i {
        margin-top: -10px;
        font-size: 1.6rem;
        transition: ease all 0.25s;
      }
    }
  }

  .card_body {
    display: none;
  }
}

.adviser_table {
  width: 100%;
  border-collapse: collapse;

  tbody {
    height: 0px;
    display: block;
    overflow: auto;
  }

  thead,
  tbody tr {
    width: 100%;
    display: table;
  }

  &:last-child {
    margin-bottom: 0;
  }

  tr {
    transition: ease all 0.25s;

    &:hover {
      cursor: pointer;
      background: rgba($green, 0.1);
    }
  }

  th,
  td {
    padding: 10px;
    text-align: center;
    border-right: 1px solid $defaultBorderColor;
    border-bottom: 1px solid $defaultBorderColor;

    &:last-child {
      border-right: none;
    }

    &.mw-300 {
      min-width: 300px;
    }
  }

  th {
    color: $white;
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
    justify-content: space-between;
    background: rgba($blue, 0.8);
    text-shadow: 1px 1px 1px rgba($black, 0.5);

    i {
      margin-top: -10px;
      font-size: 1.6rem;
      transition: ease all 0.25s;
    }
  }

  td {
    font-size: 1.1rem;

    &.a-left {
      text-align: left;
    }

    &.a-center {
      text-align: center;
    }
  }
}

@media (max-width: 1440px) {
  .card {
    width: 100%;
    padding: 30px 20px;

    .card_head {
      h2 {
        font-size: 1.4rem;
      }
    }
  }

  .adviser_table {
    th {
      font-size: 1.2rem;
    }

    td {
      font-size: 1rem;
    }
  }
}

@media (max-width: 1200px) {
  .cards_container {
    columns: 2;
  }
}

@media (max-width: 780px) {
  main {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .cards_container {
    columns: 1;
  }
}

.subtitle {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.form_control {
  padding: 10px;
  font-size: 0.9rem;
  border-radius: 4px;
  margin-bottom: 20px;
  border: 1px solid $defaultBorderColor;
}

.form_label_control {
  width: 100%;
  display: inline-block;
  font-size: 0.9rem;
  text-align: left;
  margin-bottom: 10px;
}
